main {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  background: #a98484;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}
.child {
  width: 600px;
  margin: 0 auto;
}
.wrapper-container {
  max-height: 100vh;
  overflow-y: scroll;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
}
