body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: #f1f3f6;
}

* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none !important;
}
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, span, p {
  margin: 0;
  padding: 0;
}
.them-shadow {
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.034)!important;
}
.text-primary{
  color: #ff8c46 !important;
}
@font-face {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  src: url("/assets/Avenir-Font/avenir_ff/AvenirLTStd-Roman.otf");
  font-weight: 400;
  font-display: auto;
}
@font-face {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  src: url("/assets/Avenir-Font/avenir_ff/AvenirLTStd-Book.otf");
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  src: url("/assets//Avenir-Font/avenir_ff/AvenirLTStd-Black.otf");
  font-weight: 600;
  font-display: auto;
}
main {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  background: #a98484;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper-container {
  height: 100vh; 
  overflow-y: scroll;
  background-color: #f1f3f6;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.child {
  width: 600px;
  margin: 0 auto;
  background: #fff;
}

.preloder {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.preloder .dots {
  position: relative;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloder .dot {
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.preloder .dot1 .dot:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.preloder .dot1 .dot:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.preloder .dot1 .dot:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.preloder .dot1 .dot {
  border-radius: 50%;
  -webkit-animation: topDown2 1.2s linear forwards infinite;
          animation: topDown2 1.2s linear forwards infinite;
}

@-webkit-keyframes topDown2 {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    background-color: orange;
  }
  75% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    background-color: red;
  }
}

@keyframes topDown2 {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    background-color: orange;
  }
  75% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    background-color: red;
  }
}

.header .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
.header .logo {
  width: 30%;
  padding: 10px 20px;
}
.header .logo img {
  width: 100%;
}
.header .content{
  display: flex;
  padding: 10px 20px;
  align-items: center;
}
.header .content .notice{
  margin: 0 12px;
}
.header .content .notice img{
  width: 20px;
  
}
.header .content .service img{
  width: 26px;
}

.header .btn-sm {
  padding: 5px 18px ;
  font-size: 14px;
  border-radius: 30px;
  background-color: #fff2ea;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #ff8c46 !important;
}
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}


.gap{
  min-height: 65px;
  background: #fff;
}
.hero-area-bg-white {
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 15px;
}
.hero-area {
  /*margin-top: 55px;
  */background: url("../../assets/Images/hero-banner.png") no-repeat center;
  padding: 70px 0 60px 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-size: 100%;
}
.hero-income{
  padding-bottom: 0;
}
.income-bg{
  background: url("../../assets/Images/income/income-banner.jpg") no-repeat center !important;
  background-size: 100% !important; 
}
.profile-bg{
  background: url("../../assets/Images/profile/mine-bg.jpg") no-repeat center !important;
  background-size: 100% !important; 
}
.hero-area span {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.hero-area h1 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.hero-area h1 small {
  font-size: 18px;
  font-weight: 400;
}
/*  */
.marquee{
  position: relative;
  background-color: #f5f6f8;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 5px;
  margin: 15px;
}
.marquee .icon {
  position: absolute;
  left: 0;
  top: 0;
  background: #f5f6f8;
  height: 100%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  z-index: 1;
  /* transform: translateY(10px); */
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.quick-links .quick-links-item{
  width: 30%;
  text-align: center;
  color: #282828;
}
.quick-links .quick-links-item a p{
  color: #282828;
  text-transform: capitalize;
}
.quick-links .quick-links-item img{
  width: 30%;
}
/*  */
.wallect-info{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
}
.wallect-info .wallect-info-item{
  width: 48%;
  background: url("../../assets/Images/home/wallect-info-bg-one.png") no-repeat center;
  padding:40px 20px;
  border-radius: 25px;
  background-size: 100%;
  
}
.wallect-info .wallect-info-item-two{
  width: 48%;
  background: url("../../assets/Images/home/wallect-info-bg-two.png") no-repeat center;
  padding: 40px 20px;
  border-radius: 25px;
  background-size: 100%;
}
.wallect-info .wallect-info-item p{
   color: #282828;
   margin-bottom: 0;
   font-size: 20px;
   font-weight: 400;
  }
  .wallect-info .wallect-info-item span{
    color: #ff8c46;
    display: block;
    font-size: 20px;
   font-weight: 600;
  }
  .wallect-info .wallect-info-item span small{
  color: #282828; 
  font-size: 14px;

}
  .wallect-info .wallect-info-item small{
  color: #ff8c46;

}
/*  */
/*  */
.invest-list{
  background-color: #fff;
  margin: 10px 16px;
  padding: 10px;
  border-radius: 20px;
}

.invest-list .nav-tabs {
  border-bottom:0 !important;
  background-color: #f1f3f6;
  border-radius: 30px;
  justify-content: space-between;
}
.invest-list .nav-tabs .nav-item{
  width: 50%;
}
.invest-list .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  font-size: 14px;
  padding: 5px;
  /* border: 0 !important; */
  color: #282828 !important;
  border-radius: 20px !important;
  width: 100%;
}
.invest-list .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #ff8c46 !important;
}
/* .invest-list .tab-pane{
  margin-top: 10px;
} */
.invest-list .tab-pane .recharge-symbol{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.invest-list .tab-pane .recharge-symbol-item{
  width: 49%;
  margin-top: 10px;

}
.invest-list .tab-pane .recharge-symbol-item a img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.invest-list .tab-pane .recharge-symbol-item .bottom-bg{
  padding: 10px;
  background-color: #f7f8fa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.invest-list .tab-pane .recharge-symbol-item a h6{
  color: #282828;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 700;
}
.invest-list .tab-pane .recharge-symbol-item a p{
  color: #282828;
  font-size: 12px;
  margin-bottom: 0;
}
.invest-list .tab-pane .recharge-symbol-item a small{
  font-size: 11px;
  color: #282828;
}
.recharge-symbol-two h6{
  color: #ff8c46 !important;
  text-transform: capitalize;
  margin-bottom: 5px !important;
}
.view-more{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 5.33333vw;
  padding: 0 5.33333vw;
  height: 7.46667vw;
  line-height:6.46667vw;
  border: 1px solid #dfdfdf;
  border-radius: 3.73333vw;
  background-color: #fff;
  text-align: center;
  color: #ababab;
}
/*----------  */
/* --------------------------------- */
.home-slider{
  margin: 10px;
  padding: 0;
  background-color: #ffff;
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
  border-radius: 15px;
  padding-bottom: 20px;
}
.home-slider .home-slider-item .slider-bg{
  color: #fff;
}
.home-slider .home-slider-item .slider-bg  h4{
  font-weight: 700;
  font-size: 17px;
}
.home-slider .home-slider-item .slider-bg  h5{
  font-weight: 600;
  font-size: 14px;
}
.home-slider .home-slider-item .slider-bg{
  background: url("../../assets/Images//home/slider-bg-one.jpg") no-repeat center;
  /*padding: 70px 0 60px 40px;
  */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  background-size: 100%;
  
}
.home-slider .home-slider-item .slider-content{
  padding: 10px;
}
.home-slider .home-slider-item .slider-content p{
  font-size: 12px;
}
.home-slider .slick-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-60%);
}
.home-slider .slick-dots li {
  display: inline-block;
  margin-right: 10px;
}
.home-slider .slick-dots li button {
  font-size: 0;
  background: #ffc5a2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 0;
}
.home-slider  .slick-dots .slick-active button {
  background: #ff8c46;
  width: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* --------------------------------- */
.instant-quotes-bg{
  margin: 10px;
  padding: 10px;
  background-color: #ffff;
  border-radius: 15px;
}
.instant-quotes-bg h3{
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
}
.instant-quotes-bg .instant-quotes-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instant-quotes-bg .instant-quotes-item .icon {
  display: flex;
  align-items: center;
}
.instant-quotes-bg .instant-quotes-item .icon img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 5px;
}
.instant-quotes-bg .info .title{
  font-weight: 600;
  font-size: 14px;
}
.instant-quotes-bg .info .time{
  font-size: 10px;
  display: block;
  color: #ababab;
}
.instant-quotes-bg .price{
  color: #17cdaf;
  font-weight: 600;
  margin-right: 5px;
}
.instant-quotes-bg .bg-info{
  background-color: #17cdaf !important;
  color: #fff;
}
.instant-quotes-bg .price-area{
  display: flex;
  align-items: center;
}
.instant-quotes-bg .price-danger .price{
  color: #dd1919;
  font-weight: 600;
  margin-right: 5px;
}
.instant-quotes-bg .price-danger .bg-info{
  background-color: #dd1919 !important;
  color: #fff;
}
.text-gray{
  font-size: 10px;
  color: #ababab;
}
.withdrawal-list{
  margin-top: 5px;
}
.withdrawal-list .withdrawal-item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* .global-partners-list{
  display: flex;
  justify-content: space-between;
} */
.global-partners-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.global-partners-list .list-item{
  width: 30%;
}
.global-partners-list .list-item img{
  width: 100%;
}

/* --------------------------------- */
.earnings-time{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.earnings-time .left b{
  display: block;
}
.earnings-time .left p{
  color: #ababab;
  display: inline-block;
  font-size: 10px;
}
.earnings-time .right{
  text-align: right;
}
.earnings-time .btn {
  padding: 2px 18px;
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 30px;
  background-color: #fff2ea;
  color: #ff8c46 !important;
}
/* --------------------------------- */
.income-list{
  background-color: #fff;
  margin: 10px;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 80px;
}
.income-list img{
  width: 95px;
}
.income-list span{
  display: block;
  color: #ababab;
}
/* --------------------------------- */
.profile-bg{
  padding-bottom: 0;
}
.profile-bg h1{
  margin-bottom: 20px;
}
.profile-bg .btn {
  flex: 1;
  border-top: 1px solid hsla(0,0%,100%,.2);
  text-align: center;
  font-size: 3.18px;
  color: #fff;
}
.profile-bg-btn{
  display: flex;
  justify-content: space-between;
}
.profile-bg-btn .btn:first-child{
  border-right: 1px solid hsla(0,0%,100%,.2);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
/* --------------------------------- */
/* --------------------------------- */
.app-service{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 90px;
}
.app-service h3{
  padding-left: 10px;
  font-size: 16px;
}
.app-service .app-service-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.app-service .app-service-list .app-service-list-item{
  text-align: center;
  width: 30%;
  margin-bottom: 10px;
}
.app-service .app-service-list .app-service-list-item img{
  width: 40px;
}
.app-service .app-service-list .app-service-list-item p{
  font-size: 10px;
  color: #282828;
}
/* --------------------------------- */

/* .share-bg {
  overflow: hidden;
  padding-bottom: 5.33333vw;
  line-height: 1;
  background: url('../../assets/Images/share-friend/share_bg_crown.png') 6.13333vw 7.73333vw/30.66667vw 24.8vw,url('../../assets/Images/share-friend/one.png') 100% 13.33333vw/30.66667vw 37.86667vw;
  background-color: #ecccaf;
  background-repeat: no-repeat; 
  height: 200px;
  display: flex;
  justify-content: end;
} */
.share-bg-img{
  position: relative;
}
.share-bg-img img{
  width: 100%;
}
.share-bg .share-bg-content{
  padding-top: 50px;
  padding-right: 20px;
  position: absolute;
  top: 0px;
  right: 10px;
}
.share-bg .share-bg-content h2{
  font-weight: 700;
  color: #282828;
  font-size: 20px;
}
.share-bg .share-bg-content p{
  font-size: 14px;
}
.invitation-reward {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  padding: 18px;
  /* height: 15.2vw; */
  border-radius: 2.66667vw 2.66667vw 0 0;
  background: #282522;
  color: #f9dec9;
  transform: translateY(-80px);
}
.invitation-reward .btn{
  display: inline-block;
  padding: 2px 12px;
  font-size: 12px;
  border-radius: 3.73333vw;
  background: #f9dec9;
  text-align: center;
  color: #282828;
  white-space: nowrap;
}
.invitation-reward p{
  font-size: 12px;
}
/* --------------------------------- */
.invitation-codes{
  background-color: #f1f3f6;
  margin-bottom: 100px;
  transform: translateY(-80px);
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 10px;
}
.invitation-bg{
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.invitation-codes-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.code-gen {
  line-height: 1;
  /* margin-left: 8vw; */
  width: 50%;
}
.code-gen .content{
  text-align: center;
}
.code-gen img {
  display: block;
  margin: 0 auto 1.33333vw;
  width:50%;

}
.code-gen h4 {
  display: block;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  color: #ff8c46;
}
.code-gen p{
  color: #282828;
  margin-bottom: 0;
}
.invitation-codes-item .qur {
  width: 50%;
  padding: 20px;
  border-radius: 2.66667vw;
  border: 1px solid #e4e4e4;
}
.invitation-codes-item .qur img{
  width: 100%;
  height: 100%;
}
.invite-link {
  position: relative;
  margin: 8vw auto 5.33333vw;
  /* padding: 26px; */
  height: 51px;
  border-radius: 1.33333vw;
  background: #f0f2f5;
  line-height: 51px;
  padding-left: 18px;
}
.share-btn {
  display: block;
  margin-bottom: 5.33333vw;
  padding: 0 2.66667vw;
  height: 30px;
  line-height: 30px;
  border-radius: 4vw;
  background: #282522;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.share-title {
  margin-bottom: 2.66667vw;
  text-align: center;
  font-size: 2.66667vw;
}
.share-components {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}
.share-components:after{
  right: 0;
}
.share-components:before{
  left: 0;
}
 .share-components:after, .share-components:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 15.46667vw;
  height: 1px;
  background: #282828;
}

.share-components .icon img {
  display: inline-block;
  vertical-align: middle;
  /* margin: 0 1.6vw; */
  width: 25px;
  height: 25px;
  background: no-repeat 0 0/contain;
}
/* --------------------------------- */
.invest-page{
  margin-bottom: 90px;
}
.invest-page .nav-pills {
  background-color: #fff;
  padding: 10px 20px;
  justify-content: space-between;
  /* padding-bottom: 20px; */
}
.invest-page .nav-link {
  z-index: 0;
  position: relative;
  height: 4.26667vw;
  line-height: 4.26667vw;
  font-size: 14px;
  color: #ababab;
  transition: all .3s ease;
  padding: 0;
}
.invest-page .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #282522;
  background-color: transparent;
  position: relative;
}
.invest-page .nav-pills .nav-link.active::after{
  z-index: -1;
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #ff8c46;
  height: 4px;
  border-radius: 10px;
  width: 90%;

}

.invest-page  .vip-bar {
  padding: 20px;
  background: #ecccaf;
}
.invest-page  .vip-card {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding-left: 4.8vw;
  width: 100%;
  height: 37.6vw;
  background: url('/assets/Images/invest/invest_vip_card.acc5f650.png') no-repeat 0 0/contain;
  line-height: 1;
  color: #6c3b23;
}
.invest-page  .card-name {
  position: absolute;
  top: 13px;
  left: 0;
  padding: 1.33333vw 4vw;
  background-color: #e8c09e;
  border-radius: 20px 0 1.33333vw 0;
  color: #fff;
}
.invest-page  .level {
  margin-top: 63px;
  margin-bottom: 0;
  padding-left: 8vw;
  background: url('/assets/Images/invest/vip-cion.png') no-repeat 0 50%/5.33333vw 4.53333vw;
  font-size: 5.6vw;
  font-weight: 700;
}
.invest-page  .vip-bar span {
  margin-right: 1.6vw;
  font-size: 5.6vw;
  font-weight: 700;
  font-style: normal;
}
.invest-page  .btn-groups {
  position: relative;
  margin-top: -3.73333vw;
  padding: 6.66667vw 4vw 5.33333vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 4vw;
  background: url('/assets/Images/invest/shape.png') no-repeat 0 0/contain;
  z-index: 1;
}
.invest-page  .btn-groups  .btn {
  padding: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #6c3b23 !important;
  border-radius: .8vw;
  font-size: 14px;
  color: #fff;
}
.invest-page  .table-wrap {
  position: relative;
  overflow: hidden;
  padding: 50px 4vw 2.66667vw;
  border-radius: 2.66667vw;
  background: #FFF;
  transform: translateY(-60px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
}
.invest-page  .table-wrap thead tr th {
  padding: 12px !important;
  background: #ffeee2;
  font-size: 12px;
  color: #6c3b23;
}
.invest-page  .table-wrap  .ui-table {
  margin-bottom: -1px;
  background: #fff7f1;
  font-size: 2.66667vw;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
.invest-page .pledge-rules .ui-table {
  background: #fff;
  font-size: 2.66667vw;
}
.invest-page .ui-table .pl {
  padding-left: 4vw;
}
 .invest-page .ui-table .pr {
  padding-right: 4vw;
}
 .invest-page .pledge-rules .ui-table th {
  height: 10.66667vw;
  background: #ffeee2;
  font-size: 3.73333vw;
  color: #6c3b23;
  text-align: center;
}
.invest-page .ui-table td {
  height: 40px;
  color: #6d6d6d;
  border-bottom: 1px solid #ffe8de;
  text-align: center;
  font-size: 12px;
}
 .invest-page .ui-table .pl {
  padding-left: 4vw;
}
.invest-page .ui-table .pr {
  padding-right: 4vw;
}
.invest-page  .van-list {
  padding: 0 4vw;
  margin: 2.66667vw 4vw;
  border-radius: 2.66667vw;
  background: #fff;

}
 .invest-page .van-list__finished-text, .van-list__loading {
  color: #969799;
  font-size: 3.73333vw;
  line-height: 13.33333vw;
  text-align: center;
}

.invest-page .link_icon {
  margin: 20px;
  display: grid;
  -moz-column-gap: 1.33333vw;
  column-gap: 1.33333vw;
  grid-template-columns: repeat(2,1fr);
}
.invest-page .link_icon .item {
  /* height: 8vw; */
  /* line-height: 8vw; */
  background-color: #fff;
  border-radius: 1.33333vw;
  color: #ff8c46;
  text-align: center;
  font-size: 18px;
}
.invest-page .link_icon .item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: no-repeat 0 0/contain;
}
.invest-page .link_icon .item:first-child:before {
  background-image: url("/assets/Images/invest/deposit.png");
}
.invest-page .link_icon .item:last-child:before {
  background-image: url("/assets/Images/invest/Withdrawal.png");
}
.invest-page .product-box{
  background-color: #fff;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.invest-page .tab-pane .recharge-symbol {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.invest-page .tab-pane .recharge-symbol-item {
  width: 49%;
  margin-top: 10px;
}
.invest-page .tab-pane .recharge-symbol-item a img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.invest-page .tab-pane .recharge-symbol-item .bottom-bg {
  padding: 10px;
  background-color: #f7f8fa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.invest-page .recharge-symbol-two h6 {
  font-size: 13px;
  font-weight: 700;
  color: #ff8c46 !important;
  text-transform: capitalize;
  margin-bottom: 5px !important;
}
.invest-page .tab-pane .recharge-symbol-item a p {
  color: #282828;
  font-size: 12px;
  margin-bottom: 0;
}
.invest-page .tab-pane .recharge-symbol-item a small {
  font-size: 11px;
  color: #282828;
}

/* --------------------------------- */
.login-register{
padding: 0 20px 0 20px;
margin-bottom: 90px;
}
.login-register .left-arrow img{
  width: 10px;
  /* margin-left: 20px; */
}
.login-register .login-register-title{
  margin-top: 8vw;
  font-size: 50px;
  font-weight: 700;
  color: #282522;
}
.login-register .form-field-group {
  padding: 2.66667vw;
}
.login-register .van-field__label {
  width: 100%;
  font-size: 3.73333vw;
  color: #ababab;
}
.login-register .van-cell__value {
  position: relative;
  overflow: hidden;
  color: #969799;
  text-align: right;
  vertical-align: middle;
  word-wrap: break-word;
}
.login-register .form-field {
  margin-bottom: 5.33333vw;
  border: none;
  padding: 0;
  flex-wrap: wrap;
  line-height: 1;
}
.login-register .van-field__control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  color: #323233;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0;
  resize: none;
  padding: 2.13333vw 0;
  border-bottom: 1px solid #f3f3f3;
}
.login-register .van-button {
  margin-bottom: 4vw;
  height: 10.66667vw;
  line-height: 10.66667vw;
  font-size: 4.26667vw;
  border-radius: 1.33333vw;
  display: block;
  width: 100%;
  border: 0;
}
.login-register :focus-visible {
  outline: 0;
}

.login-register .van-button__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.login-register .login-register-page-title{
    margin-top: 2.66667vw;
    margin-bottom: 18.66667vw;
    color: #ababab;
    font-weight: 400;
    font-size: 16px;

}
.login-register  .van-field__button {
  position: absolute;
  top: -6px;
  right: 0;
}

.login-register button:disabled {
  border-color: #dedede!important;
  background: #dedede!important;
  color: #ababab!important;
}
.go-home {
  color: #ff8c46;
  text-align: center;
  width: 100%;
  display: inline-block;
}
/* --------------------------------- */



/*--------------------------- */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  /* background: #fff; */
}
footer .footer{
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  border-top: 2px solid #f1f3f6;
  height: 75px;
}
footer .invest {
  background: white;
  border-radius: 50%;
  transform: translate(5px,-20px);
  padding: 15px;
  height: 70px;
  width: 70px;
  text-align: center;
}
footer .invest p{
  transform: translateY(5px);
}
footer .footer-item{
  text-align: center;

}
 footer .footer-item a img{
 width: 40px;
 }
 footer .footer-item a{

   display: block;
 }
 footer .footer-item a p {
  display: block;
  color: #c9d1dd;
  font-size: 12px;
  text-align: center;
}
.footer .footer-item.active p{
 color: #ff8c46;
}

/* -------------------------------- */
@media (min-width: 320px) and (max-width: 440.98px) {
  main {
    width: auto;
    padding: 0;

  }
  .child {
    width: auto;
}
/* .share-bg {
  height: 197px;

} */
.wallect-info .wallect-info-item {
  padding: 16px;
  border-radius: 20px;
 
}
.wallect-info .wallect-info-item p {
  font-size: 14px;
}
.wallect-info .wallect-info-item span {
  font-size: 18px;
}
.hero-area {
  padding: 35px 0 30px 12px;
  margin-left: 10px;
  margin-right: 10px;
}
.income-bg {
  padding: 30px 0 25px 12px;
}
.profile-bg {
  padding: 16px 0 0px 12px;
}
} 
@media (min-width: 441px) and (max-width: 599px) {
  main {
    width: auto;
    padding: 0;
    
  }
  .child {
    width: auto;
}
.gap {
  background: #fff;
  height: 69.88px;
}
.hero-area {
  padding: 50px 0 49px 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.wallect-info .wallect-info-item {
  padding: 24px 20px;
}
.invitation-reward {
  
  transform: translateY(-100px);
}
.invitation-codes {
  transform: translateY(-103px);
  -webkit-transform: translateY(-103px);
  -moz-transform: translateY(-103px);
  -ms-transform: translateY(-103px);
  -o-transform: translateY(-103px);
}
} 
@media (min-width: 583px) and (max-width: 961px) {
  .invest-page .nav-pills {
    background-color: #fff;
    padding: 19px 20px;
    justify-content: space-between;
    padding-top: 20px;
}
}
@media (min-width: 985px) {
  .invitation-reward {
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}
  .invitation-codes {
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}
.invest-page  .card-name {
  padding: 10px 20px;
}
.invest-page  .vip-card {
  height: 15.6vw;
}
.invest-page  .level {
  margin-bottom: 5px;
  padding-left: 35px;
  background: url('/assets/Images/invest/vip-cion.png') no-repeat 0 50%/30px 30px;
  font-size: 27px;
}
.invest-page  .vip-bar span {
  margin-right: 5px;
  font-size: 30px
}
.invest-page  .btn-groups {
  padding: 0.66667vw 4vw 5.33333vw;

}
.invest-page  .table-wrap {
  padding: 50px 2vw 2.66667vw;
}
.share-components:after, .share-components:before {
  width: 30%;
}
.invest-page .nav-pills .nav-link.active::after {
  bottom: 15px;
}
}