body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: #f1f3f6;
}

* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none !important;
}
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, span, p {
  margin: 0;
  padding: 0;
}
.them-shadow {
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.034)!important;
}
@font-face {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  src: url("/assets/Avenir-Font/avenir_ff/AvenirLTStd-Roman.otf");
  font-weight: 400;
  font-display: auto;
}
@font-face {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  src: url("/assets/Avenir-Font/avenir_ff/AvenirLTStd-Book.otf");
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  src: url("/assets//Avenir-Font/avenir_ff/AvenirLTStd-Black.otf");
  font-weight: 600;
  font-display: auto;
}
main {
  width: 560px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}
.wrapper-container {
  /* max-height: 100vh; */
  overflow-y: scroll;
  background-color: #f1f3f6;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9;
}
.header .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 30%;
  padding: 10px 20px;
}
.header .logo img {
  width: 100%;
}
.header .content{
  display: flex;
  padding: 10px 20px;
  align-items: center;
}
.header .content .notice{
  margin: 0 12px;
}
.header .content .notice img{
  width: 20px;
  
}
.header .content .service img{
  width: 26px;
}

.header .btn-sm {
  padding: 5px 18px ;
  font-size: 14px;
  border-radius: 30px;
  background-color: #fff2ea;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #ff8c46 !important;
}
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.child {
  width: 560px;
  margin: 0 auto;
}
.gap{
  height: 53.88px;
}
.hero-area-bg-white{
  background-color: #fff;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.hero-area {
  /* margin-top: 55px; */
  background: url("../../assets/Images/hero-banner.png") no-repeat center;
  padding: 70px 0 60px 40px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-size: 100%;

}
.hero-area span {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.hero-area h1 {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
}
.hero-area h1 small {
  font-size: 18px;
  font-weight: 400;
}
/*  */
.marquee{
  position: relative;
  background-color: #f5f6f8;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 5px;
  margin: 15px;
}
.marquee .icon {
  position: absolute;
  left: 0;
  top: 0;
  background: #f5f6f8;
  height: 100%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  z-index: 1;
  /* transform: translateY(10px); */
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.quick-links .quick-links-item{
  width: 30%;
  text-align: center;
  color: #282828;
}
.quick-links .quick-links-item a p{
  color: #282828;
  text-transform: capitalize;
}
.quick-links .quick-links-item img{
  width: 30%;
}
/*  */
.wallect-info{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
}
.wallect-info .wallect-info-item{
  width: 48%;
  background: url("../../assets/Images/home/wallect-info-bg-one.png") no-repeat center;
  padding:40px 20px;
  border-radius: 25px;
  background-size: 100%;
  
}
.wallect-info .wallect-info-item-two{
  width: 48%;
  background: url("../../assets/Images/home/wallect-info-bg-two.png") no-repeat center;
  padding: 40px 20px;
  border-radius: 25px;
  background-size: 100%;
}
.wallect-info .wallect-info-item p{
   color: #282828;
   margin-bottom: 0;
   font-size: 20px;
   font-weight: 400;
  }
  .wallect-info .wallect-info-item span{
    color: #ff8c46;
    display: block;
    font-size: 20px;
   font-weight: 600;
  }
  .wallect-info .wallect-info-item span small{
  color: #282828; 
  font-size: 14px;

}
  .wallect-info .wallect-info-item small{
  color: #ff8c46;

}
/*  */
/*  */
.invest-list{
  background-color: #fff;
  margin: 10px 16px;
  padding: 10px;
  border-radius: 20px;
}

.invest-list .nav-tabs {
  border-bottom:0 !important;
  background-color: #f1f3f6;
  border-radius: 30px;
  justify-content: space-between;
}
.invest-list .nav-tabs .nav-item{
  width: 50%;
}
.invest-list .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  font-size: 14px;
  padding: 5px;
  /* border: 0 !important; */
  color: #282828 !important;
  border-radius: 20px !important;
  width: 100%;
}
.invest-list .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #ff8c46 !important;
}
/* .invest-list .tab-pane{
  margin-top: 10px;
} */
.invest-list .tab-pane .recharge-symbol{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.invest-list .tab-pane .recharge-symbol-item{
  width: 49%;
  margin-top: 10px;

}
.invest-list .tab-pane .recharge-symbol-item a img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.invest-list .tab-pane .recharge-symbol-item .bottom-bg{
  padding: 10px;
  background-color: #f7f8fa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.invest-list .tab-pane .recharge-symbol-item a h6{
  color: #282828;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 700;
}
.invest-list .tab-pane .recharge-symbol-item a p{
  color: #282828;
  font-size: 12px;
  margin-bottom: 0;
}
.invest-list .tab-pane .recharge-symbol-item a small{
  font-size: 11px;
  color: #282828;
}
.recharge-symbol-two h6{
  color: #ff8c46 !important;
  text-transform: capitalize;
  margin-bottom: 5px !important;
}
.view-more{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 5.33333vw;
  padding: 0 5.33333vw;
  height: 7.46667vw;
  line-height:6.46667vw;
  border: 1px solid #dfdfdf;
  border-radius: 3.73333vw;
  background-color: #fff;
  text-align: center;
  color: #ababab;
}
/*----------  */
/* --------------------------------- */
.home-slider{
  margin: 10px;
  padding: 0;
  background-color: #ffff;
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
  border-radius: 15px;
  padding-bottom: 20px;
}
.home-slider .home-slider-item .slider-bg{
  color: #fff;
}
.home-slider .home-slider-item .slider-bg  h4{
  font-weight: 700;
  font-size: 17px;
}
.home-slider .home-slider-item .slider-bg  h5{
  font-weight: 600;
  font-size: 14px;
}
.home-slider .home-slider-item .slider-bg{
  background: url("../../assets/Images//home/slider-bg-one.jpg") no-repeat center;
  /*padding: 70px 0 60px 40px;
  */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  background-size: 100%;
  
}
.home-slider .home-slider-item .slider-content{
  padding: 10px;
}
.home-slider .home-slider-item .slider-content p{
  font-size: 12px;
}
.home-slider .slick-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-60%);
}
.home-slider .slick-dots li {
  display: inline-block;
  margin-right: 10px;
}
.home-slider .slick-dots li button {
  font-size: 0;
  background: #ffc5a2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 0;
}
.home-slider  .slick-dots .slick-active button {
  background: #ff8c46;
  width: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* --------------------------------- */
.instant-quotes-bg{
  margin: 10px;
  padding: 10px;
  background-color: #ffff;
  border-radius: 15px;
}
.instant-quotes-bg h3{
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}
.instant-quotes-bg .instant-quotes-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instant-quotes-bg .instant-quotes-item .icon {
  display: flex;
  align-items: center;
}
.instant-quotes-bg .instant-quotes-item .icon img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 5px;
}
.instant-quotes-bg .info .title{
  font-weight: 600;
  font-size: 14px;
}
.instant-quotes-bg .info .time{
  font-size: 10px;
  display: block;
  color: #ababab;
}
.instant-quotes-bg .price{
  color: #17cdaf;
  font-weight: 600;
  margin-right: 5px;
}
.instant-quotes-bg .bg-info{
  background-color: #17cdaf !important;
  color: #fff;
}
.instant-quotes-bg .price-area{
  display: flex;
  align-items: center;
}
.instant-quotes-bg .price-danger .price{
  color: #dd1919;
  font-weight: 600;
  margin-right: 5px;
}
.instant-quotes-bg .price-danger .bg-info{
  background-color: #dd1919 !important;
  color: #fff;
}
.text-gray{
  font-size: 10px;
  color: #ababab;
}
.withdrawal-list{
  margin-top: 5px;
}
.withdrawal-list .withdrawal-item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* .global-partners-list{
  display: flex;
  justify-content: space-between;
} */
.global-partners-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.global-partners-list .list-item{
  width: 30%;
}
.global-partners-list .list-item img{
  width: 100%;
}

/* --------------------------------- */



/*--------------------------- */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
}
footer .footer{
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  border-top: 2px solid #f1f3f6;
  height: 75px;
}
footer .invest {
  background: white;
  border-radius: 50%;
  transform: translate(5px,-20px);
  padding: 15px;
  height: 70px;
  width: 70px;
  text-align: center;
}
footer .invest p{
  transform: translateY(5px);
}
footer .footer-item{
  text-align: center;

}
 footer .footer-item a img{
 width: 40px;
 }
 footer .footer-item a{

   display: block;
 }
 footer .footer-item a p {
  display: block;
  color: #c9d1dd;
  font-size: 12px;
  text-align: center;
}
.footer .footer-item.active p{
 color: #ff8c46;
}

/* -------------------------------- */
@media (min-width: 320px) and (max-width: 440.98px) {
  main {
    width: auto;
    padding: 0;

  }
  .child {
    width: auto;
}
.wallect-info .wallect-info-item {
  padding: 16px;
  border-radius: 20px;
 
}
.wallect-info .wallect-info-item p {
  font-size: 14px;
}
.wallect-info .wallect-info-item span {
  font-size: 18px;
}
.hero-area {
  padding: 35px 0 30px 12px;
  margin-left: 10px;
  margin-right: 10px;
}

} 
@media (min-width: 441px) and (max-width: 599px) {
  main {
    width: auto;
    padding: 0;

  }
  .child {
    width: auto;
}
.gap {
  background: #fff;
  height: 69.88px;
}
.hero-area {
  padding: 50px 0 49px 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.wallect-info .wallect-info-item {
  padding: 24px 20px;
}
} 